*{
  margin: 0;
  padding: 0;
  font-family: Azeret Mono;
  box-sizing: border-box;
}
/* Nav section */
.navbar{
  margin: 36px auto;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar p{
color: rgb(13, 19, 33);
font-size: 28px;
font-weight: 800;
}
.navbar button{
color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
text-align: center;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
opacity: 0.8;
padding: 17px 24px 17px 24px;
background: none;
}
/* banner Section :start */
.banner-container{
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  border-top: 1px dashed rgba(128, 128, 128, 0.6);
  border-bottom: 1px dashed rgba(128, 128, 128, 0.6);
  width: 1440px;
  height: 652px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-container img{
  width: 240.28px;
  height: 240px;
  margin-top: 26px;
}
.banner-container h1{
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  text-align: center;
  margin-top: 32px;
}
.banner-container p{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  opacity: 0.7;
  margin-top: 15px;
}
.banner-container button{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  padding: 21px 24px 21px 24px;
  margin: 32px 0px;
}
.banner-container a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
/* banner Section :start */

/* Why Need Development Section start */
.info-section{
  margin: 0 auto;
  width: 1140px;
  height: 1393px;
  margin-top: 74px;
  background: rgba(13, 19, 33, 0.02);
  border-radius: 16px;
}
.info-container{
  padding: 80px 97px;
}
.info-container h2{
  color: rgb(13, 19, 33);
  font-family: Work Sans;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
}
.why-web{
  color: rgb(13, 19, 33);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  opacity: 0.7;
  margin: 48px auto;
  line-height: 25px;
}
.sub-info-container{
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background: linear-gradient(to right, white, rgba(13, 19, 33, 0));
}
.sub-info-container h3{
  font-family: Work Sans;
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  margin-top: 10px;
}
.sub-info-container p{
  color: rgb(13, 19, 33);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.7;
  margin: 20px 0px;
}
.sub-info-container button{
  box-sizing: border-box;
  opacity: 0.7;
  padding: 12px 20px 12px 20px;
  color: rgb(13, 19, 33);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  background: none;
  margin: 15px 0px;
}
.sub-info-container img{
  margin-top: 25px;
}
.sub-info-container-reverse{
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px auto;
  padding: 30px;
  background: linear-gradient(to right, rgba(13, 19, 33, 0), white);
}
.info-div{
  width: 400px;
  height: 219px;
  padding-left: 20px;
}
.info-div-reverse{
  width: 600px;
  height: 219px;
}
.sub-info-container-reverse h3{
  font-family: Work Sans;
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  margin-top: 10px;
}
.sub-info-container-reverse p{
  color: rgb(13, 19, 33);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.7;
  margin: 20px 0px;
}
.sub-info-container-reverse button{
  box-sizing: border-box;
  opacity: 0.7;
  padding: 12px 20px 12px 20px;
  color: rgb(13, 19, 33);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  background: none;
  margin: 15px 0px;
}
.sub-info-container-reverse img{
  margin-top: 25px;
}
  /* Why Need Development Section end */

  /* Video section Start */

.primary-details-div{
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 80px;
  width: 1140px;
  border-radius: 16px;
}
.primary-details-div h3{
color: rgb(13, 19, 33);
font-family: Work Sans;
font-size: 32px;
font-weight: 800;
line-height: 37px;
text-align: center;
}
.primary-details-div p{
color: rgb(13, 19, 33);
font-family: Work Sans;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
opacity: 0.7;
width: 852px;
margin: 24px auto;
}
.embed-div{
  width: 1076px;
  height: 550px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  margin: 0 auto;
}
.embed-div iframe{
  width: 1012px;
  height: 486px;
  border-radius: 16px;
  margin: 32px;
}

  /* Video section End */

  /* Target Section Start */
.target-div-container{
  margin: 0 auto;
  width: 1140px;
  border-radius: 16px;
}
.target-div{
 display: flex;
 justify-content: space-between;
}
.target-card-html{
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  width: 364px;
  height: 299px;
  padding: 40px;
}
.target-card-html h3{
  color: rgb(13, 19, 33);
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 20px;
}
.target-card-html span{
  color: rgb(13, 19, 33);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.target-card-html a{
  color: rgb(13, 19, 33);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  text-align: left;
  text-decoration-line: underline;
  margin-top: 20px;
}
.target-card-css{
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  width: 364px;
  height: 299px;
  padding: 40px;
}
.target-card-css h3{
  color: rgb(13, 19, 33);
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 20px;
}
.target-card-css span{
  color: rgb(13, 19, 33);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.target-card-css a{
  color: rgb(13, 19, 33);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  text-align: left;
  text-decoration-line: underline;
  margin-top: 20px;
}
.target-card-js{
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  width: 364px;
  height: 299px;
  padding: 40px;
}
.target-card-js h3{
  color: rgb(13, 19, 33);
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 20px;
}
.target-card-js span{
  color: rgb(13, 19, 33);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.target-card-js a{
  color: rgb(13, 19, 33);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  text-align: left;
  text-decoration-line: underline;
  margin-top: 20px;
}

  /* Target Section End */

.support-div{
  margin: 100px auto;
  width: 1140px;
  height: 314px;
  background-image: linear-gradient(90deg,rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(../assets/handshake.jpg);
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-content h3{
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}
.inner-content p{
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  opacity: 0.7;
  margin: 30px auto;
}
.inner-content input{
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  padding: 19px 20px 19px 20px;
  width: 548px;
  height: 57px;
  font-size: 20px;
  font-family: Work Sans;
}
.inner-content input::placeholder{
  font-size: 14px;
  font-family: Work Sans;
}
.inner-content button{
  font-family: Work Sans;
  width: 120px;
  height: 58px;
  padding: 17px 20px 17px 20px;
  border-radius: 8px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  border: none;
  background: rgb(255, 255, 255);
}
/* Footer start */
.foot-container{
  width: 1440px;
  height: 100px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  padding: 0 auto;
  margin: 0 auto;
}
.foot{
   width: 1140px;
  height: 100px;
  margin: 32px 150px;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foot p{
  color: rgb(13, 19, 33);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  display: block;
}
.footer-img-div a{
  margin: 12px;
}
/* Footer End */